/* Adjusted CSS for Contact Page */

/* Title Alignment */
section#contact .header {
  position: relative;
}

section#contact .title {
  text-align: center;
  margin-top: 3em; /* Add margin above the title */
}

/* Main Adjustments */
section#contact {
  padding: 2em 0;
}

section#contact .main {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

section#contact .info {
  display: grid;
  gap: 1em;
}

.contact-box {
  background-color: #1e1e1e; /* Dark background color */
  color: #2ecc71; /* Text color combination of green and blue */
  padding: 1em;
  border-radius: 8px;
}

.contact-name {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

/* Contact Person Details */
.contact-details {
  margin: 0.5em 0;
  /* Apply gradient text color */
  background: linear-gradient(to right, #87ceeb, #2ecc71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Google Map Adjustment */
section#contact .map {
  margin: auto;
  width: 100%; /* Set the width to 100% */
}
