.gallary-container {
  margin-top: 2em;
  display: grid;
  gap: 0.2em;
}

.gallary-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallary-img {
  position: relative;
}

.gallary-img:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: var(--secondary);
  opacity: 0.3;
}

@media only screen and (min-width: 800px) {
  .gallary-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

/* @media only screen and (min-width: 1000px) {
  .gallary-container {
    grid-template-columns: repeat(5, 1fr);
  }
} */
